.landing {
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-top: 20px;
  
  .landing__container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    margin-top: 50px;
  
  }
}
