.header {
  background-color: black;

  position: sticky;
  top: 0;

  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;

  z-index: 100;

  transition: height .5s ease-in;

  &.sticky {
    height: 60px !important;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
  }

  &__link {
    font-size: 18px;

    transition: underline .25s ease-in-out;

    color: white;

    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }
}
