.usersPage {
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;

  margin-top: 20px;

  &__card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 50px;

    margin-top: 50px;
  }

  div[class*='MuiInputBase-root'] {
    flex: 1;

    color: white;
  }

  .filter {
    color: white;

    display: flex !important;
    flex-direction: row;
    column-gap: 50px;
    align-items: center;

    label[class*='MuiFormLabel-root'] {
      color: white !important;

      text-transform: capitalize;
    }

    div[class*='MuiSelect-select'] {
      color: white
    }

    fieldset[class*='MuiOutlinedInput-notchedOutline'] {
      border-color: white;

      &:hover {
        border-color: white;
      }
      
      legend {
        display: none;
      }
    }

    svg {
      color: white;
      width: 20px;
      height: 20px;

      margin-right: 10px;
    }

    .sliderContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;

      .slider {
        color: white
      }
    }
  }
}

.filterSelect__paper {
  max-height: 350px;
}

.table__loading {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  min-width: 100%;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba($color: #5f6061, $alpha: 0.6);

  color: white;

  z-index: 2;
}